[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Piphi5/Adopt-a-Pixel3km-Notebooks/blob/main/CEO%20Project%20Generation/CEO%20File%20Generator.ipynb)

# Setup

In [2]:
import pandas as pd
import os

## Specify Directories

- `input_directory`: The name of the directory containing the files that will be read
- `output_directory`: The name of the directory that will contain the generated files

In [3]:
input_directory = "Sample AOI"
output_directory = "Sample CEO Project Files"

In [4]:
files = [file for file in os.listdir(input_directory) if file.endswith(".csv")]
files

['Matteo Kimura_AOI Points_37.8651, -119.5383_2021-11-26 19_46_48.csv',
 'Peder Nelson_AOI Points_34.0522, -118.2437_2021-11-26 19_45_47.csv',
 'Rusty Low_AOI Points_40.3428, -105.6836_2021-11-26 19_47_22.csv']

In [7]:
points_df = pd.DataFrame()
aoi_df = pd.DataFrame()
for i, filename in enumerate(files):
    name = filename.split("_")[0]
    aoi = pd.DataFrame()
    
    grid = pd.read_csv(f"{input_directory}/{filename}")
    try:
        plot_id = [j + 100 * i for j in range(37)]
        grid["PLOTID"] = plot_id
        aoi["PLOTID"] = plot_id
        aoi["Name"] = name
    except ValueError:
        print(f"{filename} failed")
        continue
    points_df = points_df.append(grid, ignore_index=True)
    aoi_df = aoi_df.append(aoi, ignore_index=True)

# Convert into CEO Format
points = points_df[["PLOTID", "Longitude", "Latitude"]]
points = points.fillna(0.0)
points.rename({"Latitude" : "LAT", "Longitude" : "LON"}, inplace=True, axis=1)

# Display Table Preview

Displays the tables for the CEO file and the Plot assignment file

In [8]:
points

     PLOTID         LON        LAT
0         0 -119.538300  37.865100
1         1 -119.552540  37.876342
2         2 -119.546844  37.876342
3         3 -119.541148  37.876342
4         4 -119.535452  37.876342
..      ...         ...        ...
106     232 -105.692449  40.331558
107     233 -105.686550  40.331558
108     234 -105.680650  40.331558
109     235 -105.674751  40.331558
110     236 -105.668851  40.331558

[111 rows x 3 columns]

In [9]:
aoi_df

     PLOTID           Name
0         0  Matteo Kimura
1         1  Matteo Kimura
2         2  Matteo Kimura
3         3  Matteo Kimura
4         4  Matteo Kimura
..      ...            ...
106     232      Rusty Low
107     233      Rusty Low
108     234      Rusty Low
109     235      Rusty Low
110     236      Rusty Low

[111 rows x 2 columns]

# Output Files

Run this cell to create the following files:
- `CEO Points.csv`: The file that is supposed to be uploaded to CollectEarthOnline
- `Plot Assignments.csv`: A CSV file containing the CEO plot ids along with the person who should identify them

In [10]:
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

points.to_csv(f"{output_directory}/CEO Points.csv", index=False)
aoi_df.to_csv(f"{output_directory}/Plot Assignments.csv", index=False)