[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Piphi5/Adopt-a-Pixel3km-Notebooks/blob/main/CEO%20Post%20Processing/PSU%20Analysis.ipynb)

# Setup Point Data

`directory` points to the folder containing the CSV files that will be used.

In [4]:
directory = "CEO Point Data"

In [20]:
import requests
url = "https://raw.githubusercontent.com/Piphi5/Adopt-a-Pixel3km-Notebooks/ceo-processing/utils/code/combine_csvs.py"
exec(requests.get(url).text)

df = get_csvs(directory)
df["email"] = df.groupby(["email"]).ngroup()
raw_df = df.copy()

C:\Users\piphi\AppData\Local\Temp/ipykernel_6960/2841723097.py:5: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  df = get_csvs(directory)

In [21]:
df

,plotid,sampleid,lon,lat,email,flagged,collection_time,analysis_duration,imagery_title,imagery_attributions,sample_geom,Land Cover Elements
0,0,1,-89.568636,43.076502,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.076502197895906),bush/scrub
1,0,2,-89.568636,43.076574,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.07657437629004),bush/scrub
2,0,3,-89.568636,43.076647,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.076646554599165),bush/scrub
3,0,4,-89.568636,43.076719,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.07671873282328),bush/scrub
4,0,5,-89.568636,43.076791,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.07679091096236),Trees_CanopyCover
...,...,...,...,...,...,...,...,...,...,...,...,...
44395,10036,44396,-84.282999,33.924130,-1,NaN,NaN,NaN,NaN,NaN,POINT(-84.28299891393429 33.92413047710035),NaN
44396,10036,44397,-84.282999,33.924212,-1,NaN,NaN,NaN,NaN,NaN,POINT(-84.28299891393429 33.924212471241916),NaN
44397,10036,44398,-84.282999,33.924294,-1,NaN,NaN,NaN,NaN,NaN,POINT(-84.28299891393429 33.92429446530454),NaN
44398,10036,44399,-84.282999,33.924376,-1,NaN,NaN,NaN,NaN,NaN,POINT(-84.28299891393429 33.92437645928827),NaN
44399,10036,44400,-84.282999,33.924458,-1,NaN,NaN,NaN,NaN,NaN,POINT(-84.28299891393429 33.92445845319307),NaN

## Filter Data

In [12]:
valid_data = df[(~df["Land Cover Elements"].isna())]
valid_data

,plotid,sampleid,lon,lat,email,flagged,collection_time,analysis_duration,imagery_title,imagery_attributions,sample_geom,Land Cover Elements
0,0,1,-89.568636,43.076502,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.076502197895906),bush/scrub
1,0,2,-89.568636,43.076574,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.07657437629004),bush/scrub
2,0,3,-89.568636,43.076647,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.076646554599165),bush/scrub
3,0,4,-89.568636,43.076719,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.07671873282328),bush/scrub
4,0,5,-89.568636,43.076791,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.07679091096236),Trees_CanopyCover
...,...,...,...,...,...,...,...,...,...,...,...,...
33295,9736,33296,-77.398765,38.898433,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,NaN,POINT(-77.3987646339343 38.89843293178342),shadow
33296,9736,33297,-77.398765,38.898510,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,NaN,POINT(-77.3987646339343 38.8985098352878),Impervious Surface (no building)
33297,9736,33298,-77.398765,38.898587,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,NaN,POINT(-77.3987646339343 38.8985867387089),grass
33298,9736,33299,-77.398765,38.898664,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,NaN,POINT(-77.3987646339343 38.89866364204673),grass
33299,9736,33300,-77.398765,38.898741,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,NaN,POINT(-77.3987646339343 38.89874054530122),grass

## Remove unknown and shadow

In [13]:
valid_data = df[(~df["Land Cover Elements"].isna()) & ((df["Land Cover Elements"] != "unknown") & (df["Land Cover Elements"] != "shadow"))]

In [14]:
import numpy as np

In [15]:
valid_data

,plotid,sampleid,lon,lat,email,flagged,collection_time,analysis_duration,imagery_title,imagery_attributions,sample_geom,Land Cover Elements
0,0,1,-89.568636,43.076502,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.076502197895906),bush/scrub
1,0,2,-89.568636,43.076574,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.07657437629004),bush/scrub
2,0,3,-89.568636,43.076647,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.076646554599165),bush/scrub
3,0,4,-89.568636,43.076719,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.07671873282328),bush/scrub
4,0,5,-89.568636,43.076791,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,NaN,POINT(-89.5686356660657 43.07679091096236),Trees_CanopyCover
...,...,...,...,...,...,...,...,...,...,...,...,...
33294,9736,33295,-77.398765,38.898356,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,NaN,POINT(-77.3987646339343 38.898356028195764),Building
33296,9736,33297,-77.398765,38.898510,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,NaN,POINT(-77.3987646339343 38.8985098352878),Impervious Surface (no building)
33297,9736,33298,-77.398765,38.898587,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,NaN,POINT(-77.3987646339343 38.8985867387089),grass
33298,9736,33299,-77.398765,38.898664,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,NaN,POINT(-77.3987646339343 38.89866364204673),grass
33299,9736,33300,-77.398765,38.898741,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,NaN,POINT(-77.3987646339343 38.89874054530122),grass

In [16]:
valid_data = valid_data.drop("imagery_attributions", axis = 1)

In [17]:
valid_data

,plotid,sampleid,lon,lat,email,flagged,collection_time,analysis_duration,imagery_title,sample_geom,Land Cover Elements
0,0,1,-89.568636,43.076502,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,POINT(-89.5686356660657 43.076502197895906),bush/scrub
1,0,2,-89.568636,43.076574,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,POINT(-89.5686356660657 43.07657437629004),bush/scrub
2,0,3,-89.568636,43.076647,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,POINT(-89.5686356660657 43.076646554599165),bush/scrub
3,0,4,-89.568636,43.076719,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,POINT(-89.5686356660657 43.07671873282328),bush/scrub
4,0,5,-89.568636,43.076791,52,False,2021-07-12 20:13,199.6 secs,Mapbox Satellite,POINT(-89.5686356660657 43.07679091096236),Trees_CanopyCover
...,...,...,...,...,...,...,...,...,...,...,...
33294,9736,33295,-77.398765,38.898356,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,POINT(-77.3987646339343 38.898356028195764),Building
33296,9736,33297,-77.398765,38.898510,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,POINT(-77.3987646339343 38.8985098352878),Impervious Surface (no building)
33297,9736,33298,-77.398765,38.898587,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,POINT(-77.3987646339343 38.8985867387089),grass
33298,9736,33299,-77.398765,38.898664,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,POINT(-77.3987646339343 38.89866364204673),grass
33299,9736,33300,-77.398765,38.898741,41,False,2021-07-22 15:58,285.3 secs,Mapbox Satellite,POINT(-77.3987646339343 38.89874054530122),grass

# Save Data

In [18]:
output_name = "SSU Data.csv"

In [19]:
valid_data.to_csv(output_name)